@{
    ViewBag.Title = "Главная";
}


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2 style="text-align:center;">Alter Studio Managment System</h2>
        <p>
            Данная система разработана для контроля всех организационных и финансовых процессов фото-видео студии Alter Studio.
        </p>
        <p><a  class="btn btn-default" href="http://alter-studio.com.ua/">На официальный сайт  &raquo;</a></p>
    </div>
    
</div>